<turbo-frame id='weather_results'>

   <% if @weather && @weather&.error? && @weather&.rate_limited? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Results are not available at this time due to too many requests. Please try again later.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
   <% elsif !@weather&.found? %> 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Oh no!</strong> The zip-code '<%= @weather&.zip_code %>' was not found.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
   <% else %>

    <h1>Weather at <%= @weather.zip_code %></h1>
    <% unless @weather.current_fetched %>
      <span class="badge rounded-pill text-bg-info">cached</span> 
    <% end %>

    <%= cache(['weather_results', @weather.zip_code, @weather.current.dig('data', 'time')]) do %>
        <table class="table">
            <tbody>
                <tr>
                    <th>As of:</th>
                    <td>
                        <%= DateTime.parse(@weather.current.dig('data', 'time')).to_formatted_s(:long) %> UTC 
                    </td>
                </tr>
                <tr>
                    <th>Location:</th>
                    <td>
                        <%= @weather.current.dig('location', 'name') %>
                    </td>
                </tr>
                <tr>
                   <th>Current Temp:</th>
                   <td><%= [@weather.current.dig('data', 'values', 'temperature'), temperature_units_for(@weather.units)].join(' ') %> </td>
                </tr>
                <tr>
                   <th>Feels Like:</th>
                   <td><%= [@weather.current.dig('data', 'values', 'temperatureApparent'), temperature_units_for(@weather.units)].join(' ') %> </td>
                </tr>
            </tbody>
        </table>
    <% end %>
  <% end %>

</turbo-frame>